<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/graduationprojecttabeebakdb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">tabeebk</property>
    <property name="hibernate.connection.password">tabeebk</property>
    <mapping class="pojo.PlanmspId"/>
    <mapping class="pojo.Planmsp"/>
    <mapping class="pojo.Gender"/>
    <mapping class="pojo.Accounttype"/>
    <mapping class="pojo.Micratting"/>
    <mapping class="pojo.Clinic"/>
    <mapping class="pojo.Msptype"/>
    <mapping class="pojo.AccountId"/>
    <mapping class="pojo.City"/>
    <mapping class="pojo.Mic"/>
    <mapping class="pojo.Doctor"/>
    <mapping class="pojo.Micuser"/>
    <mapping class="pojo.Doctorspeciality"/>
    <mapping class="pojo.Telephone"/>
    <mapping class="pojo.Mspimage"/>
    <mapping class="pojo.Speciality"/>
    <mapping class="pojo.User"/>
    <mapping class="pojo.Country"/>
    <mapping class="pojo.Ratting"/>
    <mapping class="pojo.Lab"/>
    <mapping class="pojo.Branche"/>
    <mapping class="pojo.Socialnetwork"/>
    <mapping class="pojo.MicuserId"/>
    <mapping class="pojo.Account"/>
    <mapping class="pojo.Pharamacy"/>
    <mapping class="pojo.Hospital"/>
    <mapping class="pojo.Schedule"/>
    <mapping class="pojo.Msp"/>
    <mapping class="pojo.Plan"/>
  </session-factory>
</hibernate-configuration>
