<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/graduationprojecttabeebakdb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">tabeebk</property>
    <property name="hibernate.connection.password">tabeebk</property>
    <property name="hibernate.connection.useUnicode">true</property>
    <property name="hibernate.connection.characterEncoding">UTF-8</property>
    <!--<property name="hibernate.current_session_context_class">thread</property>-->
    <mapping class="com.tabeebkServer.pojo.Lab"/>
    <mapping class="com.tabeebkServer.pojo.Speciality"/>
    <mapping class="com.tabeebkServer.pojo.Account"/>
    <mapping class="com.tabeebkServer.pojo.City"/>
    <mapping class="com.tabeebkServer.pojo.PlanmspId"/>
    <mapping class="com.tabeebkServer.pojo.Country"/>
    <mapping class="com.tabeebkServer.pojo.Planupdates"/>
    <mapping class="com.tabeebkServer.pojo.Mspimage"/>
    <mapping class="com.tabeebkServer.pojo.Clinic"/>
    <mapping class="com.tabeebkServer.pojo.Branche"/>
    <mapping class="com.tabeebkServer.pojo.Reservationstatus"/>
    <mapping class="com.tabeebkServer.pojo.Pharamacy"/>
    <mapping class="com.tabeebkServer.pojo.Plan"/>
    <mapping class="com.tabeebkServer.pojo.Micuser"/>
    <mapping class="com.tabeebkServer.pojo.Ratting"/>
    <mapping class="com.tabeebkServer.pojo.Gender"/>
    <mapping class="com.tabeebkServer.pojo.DoctorClincId"/>
    <mapping class="com.tabeebkServer.pojo.Msprecommendations"/>
    <mapping class="com.tabeebkServer.pojo.Doctorspeciality"/>
    <mapping class="com.tabeebkServer.pojo.User"/>
    <mapping class="com.tabeebkServer.pojo.Doctor"/>
    <mapping class="com.tabeebkServer.pojo.Reservationpayment"/>
    <mapping class="com.tabeebkServer.pojo.Msptype"/>
    <mapping class="com.tabeebkServer.pojo.Socialnetwork"/>
    <mapping class="com.tabeebkServer.pojo.DoctorClinc"/>
    <mapping class="com.tabeebkServer.pojo.UpdateStatus"/>
    <mapping class="com.tabeebkServer.pojo.Schedule"/>
    <mapping class="com.tabeebkServer.pojo.MicuserId"/>
    <mapping class="com.tabeebkServer.pojo.Accounttype"/>
    <mapping class="com.tabeebkServer.pojo.Micratting"/>
    <mapping class="com.tabeebkServer.pojo.Hospitalspeciality"/>
    <mapping class="com.tabeebkServer.pojo.Telephone"/>
    <mapping class="com.tabeebkServer.pojo.Labspeciality"/>
    <mapping class="com.tabeebkServer.pojo.Labspecialities"/>
    <mapping class="com.tabeebkServer.pojo.Planmsp"/>
    <mapping class="com.tabeebkServer.pojo.Msp"/>
    <mapping class="com.tabeebkServer.pojo.Area"/>
    <mapping class="com.tabeebkServer.pojo.Mic"/>
    <mapping class="com.tabeebkServer.pojo.Hospital"/>
  </session-factory>
</hibernate-configuration>
