<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ViewUsers</servlet-name>
        <servlet-class>com.tabeebkServer.controller.msp.ViewUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewComments</servlet-name>
        <servlet-class>com.tabeebkServer.controller.msp.ViewComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRatings</servlet-name>
        <servlet-class>com.tabeebkServer.controller.msp.ViewRatings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllMsps</servlet-name>
        <servlet-class>com.tabeebkServer.controller.msp.AllMsps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyMsp</servlet-name>
        <servlet-class>com.tabeebkServer.controller.msp.MyMsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControler</servlet-name>
        <servlet-class>com.tabeebkServer.controller.account.LoginControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControler</servlet-name>
        <servlet-class>com.tabeebkServer.controller.account.LogoutControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllPlans</servlet-name>
        <servlet-class>com.tabeebkServer.controller.plan.AllPlans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPlan</servlet-name>
        <servlet-class>com.tabeebkServer.controller.plan.EditPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlan</servlet-name>
        <servlet-class>com.tabeebkServer.controller.plan.DeletePlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPlanDetails</servlet-name>
        <servlet-class>com.tabeebkServer.controller.plan.GetPlanDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlan</servlet-name>
        <servlet-class>com.tabeebkServer.controller.plan.UpdatePlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlan</servlet-name>
        <servlet-class>com.tabeebkServer.controller.plan.AddPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMspFromPlan</servlet-name>
        <servlet-class>com.tabeebkServer.controller.plan.ShowMspFromPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveMspFromPlan</servlet-name>
        <servlet-class>com.tabeebkServer.controller.plan.RemoveMspFromPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePwdController</servlet-name>
        <servlet-class>com.tabeebkServer.controller.account.ChangePwdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMspToPlan</servlet-name>
        <servlet-class>com.tabeebkServer.controller.plan.AddMspToPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MSPAddedToPlan</servlet-name>
        <servlet-class>com.tabeebkServer.controller.plan.MSPAddedToPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllUsers</servlet-name>
        <servlet-class>com.tabeebkServer.admin.controller.AllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockUser</servlet-name>
        <servlet-class>com.tabeebkServer.admin.controller.BlockUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAllMsps</servlet-name>
        <servlet-class>com.tabeebkServer.admin.controller.AdminAllMsps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAllMICS</servlet-name>
        <servlet-class>com.tabeebkServer.admin.controller.AdminAllMICS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnBlockUser</servlet-name>
        <servlet-class>com.tabeebkServer.admin.controller.UnBlockUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMIC</servlet-name>
        <servlet-class>com.tabeebkServer.admin.controller.DeleteMIC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoverMIC</servlet-name>
        <servlet-class>com.tabeebkServer.admin.controller.RecoverMIC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRestoreMsp</servlet-name>
        <servlet-class>com.tabeebkServer.admin.controller.AdminRestoreMsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteMsp</servlet-name>
        <servlet-class>com.tabeebkServer.admin.controller.AdminDeleteMsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddMic</servlet-name>
        <servlet-class>com.tabeebkServer.admin.controller.AdminAddMic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllPlans</servlet-name>
        <url-pattern>/AllPlans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPlan</servlet-name>
        <url-pattern>/EditPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlan</servlet-name>
        <url-pattern>/DeletePlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPlanDetails</servlet-name>
        <url-pattern>/GetPlanDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlan</servlet-name>
        <url-pattern>/UpdatePlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlan</servlet-name>
        <url-pattern>/AddPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUsers</servlet-name>
        <url-pattern>/ViewUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewComments</servlet-name>
        <url-pattern>/ViewComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRatings</servlet-name>
        <url-pattern>/ViewRatings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllMsps</servlet-name>
        <url-pattern>/AllMsps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyMsp</servlet-name>
        <url-pattern>/MyMsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControler</servlet-name>
        <url-pattern>/LoginControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControler</servlet-name>
        <url-pattern>/LogoutControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMspFromPlan</servlet-name>
        <url-pattern>/ShowMspFromPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveMspFromPlan</servlet-name>
        <url-pattern>/RemoveMspFromPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePwdController</servlet-name>
        <url-pattern>/ChangePwdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMspToPlan</servlet-name>
        <url-pattern>/AddMspToPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MSPAddedToPlan</servlet-name>
        <url-pattern>/MSPAddedToPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllUsers</servlet-name>
        <url-pattern>/AllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockUser</servlet-name>
        <url-pattern>/BlockUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAllMsps</servlet-name>
        <url-pattern>/AdminAllMsps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAllMICS</servlet-name>
        <url-pattern>/AdminAllMICS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnBlockUser</servlet-name>
        <url-pattern>/UnBlockUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMIC</servlet-name>
        <url-pattern>/DeleteMIC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoverMIC</servlet-name>
        <url-pattern>/RecoverMIC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRestoreMsp</servlet-name>
        <url-pattern>/AdminRestoreMsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteMsp</servlet-name>
        <url-pattern>/AdminDeleteMsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddMic</servlet-name>
        <url-pattern>/AdminAddMic</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
